/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
a img {
  width: 40px;
  height: 40px;
}
button {
  cursor: pointer;
}
body {
  width: 1920px;
  height: 2000px;
  font-family: DM Sans;
  background-color: rgb(237, 227, 211);
}

.headerSection {
  width: 1920px;
  height: 140px;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
nav {
  display: flex;
}

.navFirst {
  font-size: 36px;
  color: black;
  margin-left: 70px;
}

.navsecond {
  margin-right: 70px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: black;
}

.mainBlock {
  width: 1400px;
  height: 1216px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogProducts {
  width: 1120px;
  height: 1100px;
  margin: 0 auto;
}

.titleProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleProduct h3 {
  font-size: 24px;
  line-height: 31px;
}

select {
  font-size: 20px;
  border: none;
  background-color: rgba(246, 242, 242, 1);
  padding: 10px;
}

.newProducts {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
  height: 100%;
  row-gap: 0px;
  column-gap: 110px;
}

.productCard {
  width: 300px;
  height: 350px;
  background: rgb(237, 227, 211);
  color: rgb(237, 227, 211);

  display: flex;
  align-items: center;
  justify-content: center;
}
.productCard img {
  width: 280px;
  opacity: 1;
  transition: 1s;
}

.productCard img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.productBlock {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productBlock p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.blockFooter {
  display: flex;
  margin-top: 200px;
  width: 1920px;
  height: 500px;
  background-color: rgb(41, 32, 18);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.blockFooter h4 {
  color: white;
  font-size: 32px;
}
